@font-face {
  font-family: "iranYekan";
  src: url("/fonts/IranYekan-Reg.woff");
}
.primary {
  background-color: #0069d9 !important;
  color: white !important;
}

.secondary {
  background-color: #5a6268 !important;
  color: white !important;
}

.success {
  background-color: #218838 !important;
  color: white !important;
}

.danger {
  background-color: #c82333 !important;
  color: white !important;
}

.warning {
  background-color: #e0a800 !important;
  color: white !important;
}

.info {
  background-color: #138496 !important;
  color: white !important;
}

.light {
  background-color: #e2e6ea !important;
  color: white !important;
}

.dark {
  background-color: #23272b !important;
  color: white !important;
}

.click {
  transition: all 0.5s ease !important;
  opacity: 0.7 !important;
  cursor: pointer !important;
}
.click:hover {
  opacity: 1 !important;
  scale: 1.05 !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  min-height: 100vh;
  align-self: center;
  font-family: "iranYekan", sans-serif !important;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #ebf4f2;
  padding: 4em 0;
}
body img {
  display: flex;
}
body .swiper {
  width: 100%;
}
body .swiper img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
body header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em 2.5em;
  background-color: #f8f8f8;
  color: white;
}
body header .right img {
  width: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
}
body header .mid {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 3em;
}
body .wrapper {
  width: 100%;
  max-width: 1200px;
}
body .main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  min-height: 80%;
  gap: 1rem;
}
body .main-page a {
  padding: 0.5em 0.5em;
  border-radius: 0.3rem;
  font-size: 0.9rem;
}
body .sign-in {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .sign-in form {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
  box-shadow: 0rem 0rem 2rem 1rem rgba(0, 0, 0, 0.05);
  border-radius: 0.7rem;
  min-height: 24rem;
  padding: 3em 3em;
  background-color: white;
  justify-content: center;
}
body .sign-in form .form-header {
  text-align: center;
  font-size: 1.3rem;
}
body .sign-in form .form-header iconify-icon {
  position: absolute;
  left: 0;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
  background-color: #ff997d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0rem 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.1);
}
body .sign-in form .form-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}
body .sign-in form .form-group label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.8rem;
  padding-right: 0.5em;
}
body .sign-in form .form-group label iconify-icon {
  font-size: 1.1rem;
}
body .sign-in form .form-group input[type=password], body .sign-in form .form-group input[type=text], body .sign-in form .form-group input[type=email] {
  all: unset;
  direction: rtl;
  border-radius: 0.1rem;
  padding: 0.3em 0.5em;
  transition-duration: 0.5s;
  border: 0.1rem rgba(0, 0, 0, 0.05) solid;
  border-radius: 0.4rem;
  width: 14rem;
}
body .sign-in form .form-group input[type=password]:focus, body .sign-in form .form-group input[type=text]:focus, body .sign-in form .form-group input[type=email]:focus {
  border: 0.1rem rgb(0, 0, 0) solid;
  box-shadow: 0rem 0rem 1rem 0.5rem rgba(0, 0, 0, 0.1);
}
body .sign-in form .form-group .radio-group {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}
body .sign-in form .form-group .radio-group label {
  gap: 0.3rem;
  font-weight: bold;
  direction: rtl;
}
body .sign-in form .form-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
body .sign-in form .form-buttons a {
  all: unset;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em;
  border-radius: 0.3rem;
}
body .sign-in form .form-buttons a:first-child {
  font-size: 0.8rem;
  color: blue;
}/*# sourceMappingURL=all.css.map */